<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("partials/header") %>

	<%- defineContent("espaco-head") %>
</head>
<body>

	<div class="containerHome">
		<%- include("partials/navbar") %>

		<%- body %>

		<%- include("partials/footer") %>
	</div>

</body>
</html>
